{% extends 'base.html' %}
{% block content %}

        <h1>О проекте</h1>
        <br>
        <div>
            <p class="lead">
                Данный сайт предоставляет возможность поиска по электронной версии Активного словаря русского языка. На
                вкладке Поиск можно осуществить поиск словарных статей по различным опциям, которые более детально
                описаны в самой вкладке. На вкладке Словник находится список всех словарных статей.</p>
            <p class="lead">Активный словарь русского языка разрабатывался с опорой на важнейшие
                достижения отечественной и
                европейской лексикографии и с учетом результатов современной теоретической лингвистики во всех важных
                для лексикографии областях. Словарь ставит своей целью сообщение такого объема сведений о каждом
                включенном в него слове в каждом из фиксируемых в словаре значений, которые необходимы не только для
                понимания этого слова в произвольном контексте, но и для его правильного использования в собственной
                речи говорящих. Он содержит полную информацию о следующих свойствах слова:
            <ul>
                <p class="lead">- его грамматических формах;<br/>
                    - его специфической просодии – в тех редких случаях, когда такая специфика имеет место;<br/>
                    - его значениях в форме развернутых аналитических толкований;<br/>
                    - закономерных видоизменениях лексических значений и значений грамматических форм в определенных
                    контекстуальных условиях;<br/>
                    - управлении и вариантах управления в данном лексическом значении, если они возможны;<br/>
                    - специфичных для слова в данном значении синтаксических конструкциях;<br/>
                    - лексико-семантической сочетаемости слова в данном значении;<br/>
                    - прагматических условиях его употребления;<br/>
                    - его «лексическом мире» (синонимах, аналогах, антонимах, дериватах и других семантически связанных
                    с ним словах).<br/>
                </p>
            </ul>
            <p class="lead">Каждая такая словарная статья снабжена обширными иллюстрациями из «Национального корпуса
            русского языка».</p>
            <p class="lead">Предлагаемый словарь адресован самой широкой аудитории, профессионально или
                практически имеющей дело с
                русским языком, – от школьных учителей, редакторов, переводчиков до рядового носителя языка, который
                хочет правильно говорить по-русски.
            </p>
        </div>

{% endblock %}