{% extends 'base.html' %}
{% block content %}

    <div class="search mt-n1">
        <h1>Поиск</h1>
        <p id="lead" class="lead">
            Повседневная практика показывает, что консультация с широким активом позволяет выполнять важные задания по
            разработке форм развития. С другой стороны начало повседневной работы по формированию позиции в значительной
            степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач.
        </p>
    </div>
    <!-- End Site Title
    ================================================== -->

    <!-- Begin List Posts
    ================================================== -->
    <form method="get" action="/process">
        <div class="search_form">
            <div id="word_1" class="card mt-4"> <!-- <div class="card mt-4"> -->
                <div class="card-header">
                    {#                    <div class="row">#}
                    {#                        <div id="head" class="col-md-9 my-auto"></div>#}
                    {#                        <div class="col-md-3">#}
                    {#                            <div class="float-right">#}
                    {#                                <button type="button" class="btn btn-sm btn-outline-secondary" id="add">ДОБАВИТЬ#}
                    {#                                </button>#}
                    {#                                <button type="button" class="btn btn-sm btn-outline-secondary" id="remove">УДАЛИТЬ#}
                    {#                                </button>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <label class="form-label">Заголовок</label>
                            <input id="lex_0" name="title" class="form-control form-control-sm">
                        </div>
                        <div class="col-md-4 align-self-end">
                            <label class="form-label">Часть речи</label>
                            <select id="pos_0" data-placeholder=" " multiple class="form-control form-control-sm chosen-select" name="pos">
                                <option value=""></option>
                                <option value="noun">существительное</option>
                                <option value="verb">глагол</option>
                                <option value="adj">прилагательное</option>
                                <option value="adv">наречие</option>
                                <option value="interj">междометие</option>
                                <option value="prep">предлог</option>
                                <option value="conj">союз</option>
                                <option value="part">частица</option>
                                <option value="num">числительное</option>
                            </select>
                        </div>
{#                        <div class="col-md-3 align-self-end">#}
{#                            <label><input id="first_0" type="checkbox"><span> Точное совпадение</span></label>#}
{#                        </div>#}
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4">
                            <label class="form-label">Поиск по тексту статьи</label>
                            <input id="article_0" type="text" class="form-control form-control-sm">
                        </div>
                        <div class="col-sm-4 align-self-end">
                            <label class="form-label">Грамматические пометы</label>
                            <select data-placeholder=" " multiple class="form-control form-control-sm chosen-select">
                                <optgroup label="Время">
                                    <option>будущее</option>
                                    <option>настоящее</option>
                                    <option>прошедшее</option>
                                </optgroup>
                                <optgroup label="Род">
                                    <option>мужской</option>
                                    <option>женский</option>
                                    <option>средний</option>
                                </optgroup>
                                <optgroup label="Падеж">
                                    <option>именительный</option>
                                    <option>родительный</option>
                                    <option>партитивный</option>
                                    <option>дательный</option>
                                    <option>винительный</option>
                                    <option>творительный</option>
                                    <option>предложный</option>
                                </optgroup>
                                <optgroup label="Залог">
                                    <option>действительный</option>
                                    <option>страдательный</option>
                                </optgroup>
                                <optgroup label="Наклонение">
                                    <option>сослагательное</option>
                                    <option>повелительное</option>
                                    <option>страдательное</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-sm-4 align-self-end">
                            <label class="form-label">Стилистические пометы</label>
                            <select data-placeholder=" " multiple class="form-control form-control-sm chosen-select">
                                <option>библеизм</option>
                                <option>бранное</option>
                                <option>высокое</option>
                                <option>грубое</option>
                                <option>детское</option>
                                <option>журналистское</option>
                                <option>ироническое</option>
                                <option>историческое</option>
                                <option>канцелярское</option>
                                <option>книжное</option>
                                <option>ласкательное</option>
                                <option>мещанское</option>
                                <option>мифологическое</option>
                                <option>народно-поэтическое</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4 align-self-end">
                            <label class="form-label">Научная и специальная терминология</label>
                            <select data-placeholder=" " multiple class="form-control form-control-sm chosen-select">
                                <option>авиация</option>
                                <option>анатомия</option>
                                <option>археология</option>
                                <option>архитектура</option>
                                <option>астрономия</option>
                                <option>банковское дело</option>
                                <option>бизнес</option>
                                <option>биология</option>
                                <option>ботаника</option>
                                <option>бухгалтерия</option>
                                <option>ветеринария</option>
                                <option>военное дело</option>
                                <option>география</option>
                                <option>геология</option>
                                <option>дипломатия</option>
                                <option>железнодорожное дело</option>
                                <option>живопись</option>
                                <option>зоология</option>
                                <option>информатика</option>
                                <option>искусство</option>
                                <option>кинематография</option>
                                <option>коммерческий термин</option>
                                <option>компьютеры и вычислительная техника</option>
                                <option>космонавтика</option>
                                <option>лингвистика</option>
                                <option>зоология</option>
                                <option>логика</option>
                                <option>математика</option>
                                <option>медицина</option>
                                <option>металлургия</option>
                                <option>музыка</option>
                                <option>педагогика</option>
                                <option>политика</option>
                                <option>психология</option>
                                <option>радиотехника</option>
                                <option>религия</option>
                                <option>социология</option>
                                <option>специальный термин</option>
                                <option>математика</option>
                                <option>спортивный термин</option>
                                <option>стихосложение, поэтика</option>
                                <option>строительное дело</option>
                                <option>сельское хояйство</option>
                                <option>театроведение</option>
                                <option>текстильное дело</option>
                                <option>телефония</option>
                                <option>технический термин</option>
                                <option>телевидение</option>
                                <option>физика</option>
                                <option>физиология</option>
                            </select>
                        </div>
                        <div class="col-sm-4 align-self-end">
                            <label class="form-label">Синтаксические признаки</label>
                            <select data-placeholder=" " multiple class="form-control form-control-sm chosen-select">
                                <option>безличность</option>
                                <option>количественность</option>
                                <option>местоименность</option>
                                <option>неодушевленное существительное</option>
                                <option>одушевленное существительное</option>
                                <option>подчинительный союз</option>
                                <option>порядковое прилагательное</option>
                                <option>предикатив</option>
                                <option>притяжательное прилагательное</option>
                                <option>сочинительный соююз</option>
                                <option>собирательное существительное</option>
                                <option>1 лицо</option>
                                <option>2 лицо</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <button class="btn btn-primary btn-md px-4" type="submit">Искать</button>
            <button class="btn btn-secondary nbtn-md px-4" type="reset">Очистить</button>
        </div>
    </form>
    <script>
        $(document).on("click", "#add", function () {
            var amount = $('.search_form').children().length;

            var new_amount = amount + 1;
            var cloned_div = $('#word_' + amount);
            var $cloned = $(cloned_div).clone().attr('id', 'word_' + new_amount).insertAfter('#word_' + amount);

            $cloned.find("[id]").each(function () {
                var $child = $(this);
                var oldID = $child.attr('id');
                var newID = oldID.replace(/[0-9]+$/, new_amount);
                $child.attr('id', newID);
            });
        });
        $(document).on("click", "#remove", function () {
            if ($(this).closest(".card").attr('id') !== 'word_1') {
                $(this).closest('.card').remove();
            }
        });
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/chosen.jquery.min.js') }}"></script>
{% endblock %}
